* {
  margin: 0;
  padding: 0;
}

.sidebar {
  padding: 24px 16px;
  background-color: blue;
  width: 300px;

  display: flex;            /* optional — but gives you gap */
  flex-direction: column;
  gap: 14px;
}

.title,
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 14px;
}

.title-logo {
  color:white;
  width: 36px;  
  height: 36px; 
}

.title-text {
  font-size: 26px; 
  font-weight: 700; 
  color: #fff;
}

.item-logo {
  color:white;
  width: 24px;  
  height: 24px; 
}


.item-text {
  font-size: 20px; 
  color: #fff;
}

.title-logo,
.item-logo {
  filter: brightness(0) invert(1);
}


.header {
  background-color: white;
}


.main-container {
  background-color: grey;
  text-align: center;
}

.main-container {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

/*.sidebar .logo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}*/


/*.sidebar .sidebar-item .item-text {
  color: white;
  font-size: 16px;
  font-weight: normal;
}*/

.main-container .project-section .card {
  background-color: white;
  color: black;
  text-align: center;
}

.card .title {
  color: black;
  font-size: 18px;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

